services:
  app:
    # Cambia el nombre de la imagen por la tuya
    image: alejandro240/frases-animadas:latest
    container_name: frases_app
    working_dir: /var/www/html
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_URL: http://localhost
    volumes:
      # Compartir c칩digo con Nginx para servir archivos est치ticos
      - app_data:/var/www/html
    expose:
      - "9000" # Exponer puerto de PHP-FPM

  web:
    image: nginx:alpine
    container_name: frases_web
    ports:
      - "80:80"
    volumes:
      # Montar el mismo volumen para acceder a archivos est치ticos
      - app_data:/var/www/html:ro
      # Solo montar configuraci칩n de Nginx
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app # Nginx depende de la app de PHP-FPM

volumes:
  app_data:
