includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Nivel 0 es el más permisivo, 9 el más estricto
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/ArchivoExcluido.php

    checkMissingIterableValueType: false
